body { 
margin: 0;
background-color:#333333;
}

.navigation {
  float: center;
  padding: 0px;
  background-color:#333333;
}

.navigation ul {
  position:fixed;
  top: 0 ;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  background-color: #505050; 
}

.navigation li {
  float: left;  
}

.navigation li a {
  display: block;
  color: white;
  text-align:center;
  padding: 10px 150px ;
  text-decoration: #none;
}

.navigation li a:hover {
  background-color: #111111;
}
.navigation li a:active {
  background-color: powderblue;
}

.disclaimer {
margin-top:35px;
margin-bottom:0px;
padding-top:0px;
float:center;
background-color:#333333;
text-align:center;
}

.header1 {
 margin-top:0px;
 width:100%;
 height:20%;
 background-color:#333333;
}

.header1 img {
 margin-right:50px;
 margin-left:40px;
 float:left;
 margin-top: 0px;
 width:10%;
 height:10%;
 background-color:#333333;
}

.header1 h1 {
  margin-left:20px;
  color: white;
  text-align: left;
  padding-left: 25px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px red;
  font-family: "Times New Roman", Times, serif;
  font-style: italic ;
}

.hr newa{
padding-right:20px;

}



.iceriksol{
background-color:#333333;
margin-top:50px;
margin-right:75px;
width: 330px;
float:right;
}

.iceriksol h3{
color:#d12121; 
  padding:5px;
  padding-left:0px;
  margin-right:auto;
  text-align: center;
}
.iceriksol ul {
  
  margin: 15px;
  padding-left: 40px;
  padding-top:0px;
  overflow: hidden;
  background-color: #333333; 
}
.iceriksol li {
   padding:10px;
   padding-top:10px;
   list-style-type: square;
   color:#409399;
   width: 100%;
}


.iceriksag{
background-color:#333333;
width:1200px;
height:900px;
float:center;
margin:30px;

}

.iceriksag h2{

background-color:#333333;
text-align:center;
margin-right:30px;

}

.iceriksag iframe{
width:1120px;
height:640px;
margin-left:40px;
}
.iceriksag h3{

font-size:160%;

text-align:center;
margin-right:30px;

}
.foto1 {
margin-top:110px;
height:250px;
width:1200px;

}
.foto1 img {
float:left;
height:250px;
width:450px;

}
.foto1 h4 {
margin-top:50px;
margin-left:470px;
font-size:140%;
text-align: center;
}

.foto1 h5 {
margin-top:50px;
margin-left:470px;
font-size:100%;
text-align: left;
color:powderblue;
}
.foto2 {
margin-top:100px;
height:250px;
width:1200px;

}
.foto2 img {
float:left;
height:250px;
width:450px;
background-color:yellow;
}
.foto2 h4 {
margin-top:50px;
margin-left:470px;
font-size:140%;
text-align: center;
}

.foto2 h5 {
margin-top:50px;
margin-left:470px;
font-size:100%;
text-align: left;
color:powderblue;
}
.foto1me {
margin-top:110px;
height:250px;
width:1200px;

}
.foto1me img {
float:left;
height:288px;
width:280px;
margin-left:100px;

}
.foto1me h4 {
margin-top:50px;
margin-left:470px;
font-size:140%;
text-align: center;
}

.foto1me h5 {
margin-top:50px;
margin-left:470px;
font-size:100%;
text-align: left;
color:powderblue;
}
.foto2me {
margin-top:100px;
height:250px;
width:1200px;

}
.foto2me img {
float:left;
height:250px;
width:450px;
background-color:#333333;
}
.foto2me h4 {
margin-top:50px;
margin-left:470px;
font-size:140%;
text-align: center;
}

.foto2me h5 {
margin-top:50px;
margin-left:470px;
font-size:100%;
text-align: left;
color:powderblue;
}

.iceriksag table{
  
  border-collapse: collapse;

}


.iceriksag th, td {
  width:600px;
height:200px;
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.about {
float:center;


}

.about h2 {
text-align:center;
}


.ders {
 list-style-type:disc;
 margin-top:5px;
margin-left:250px;
font-size:150%;
color:white;
}
.hoca {
 list-style-type: circle;
 margin-left: 1px;
 margin-top:5px;
 color:#111111;

}


.footer {
  bottom:0;
  position:fixed;
  width: 100%;
  height: 7%;
  padding: 0px;
  background-color:#505050; 
  float: left;
  
}
.footer p{
  padding-left:10px;
  padding-top:9px;
  margin:auto; 
  }