body { 
margin: 0;
}
.disclaimer {
background-color: #333333;
text-align: center;
padding:1px;
}
.columnyazi ul {
  position:fixed;
  top: 0 ;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #333333; 
}
.columnyazi li {
  float: left;  
}
.columnyazi li a {
  display: block;
  color: white;
  text-align:center;
  padding: 10px 145px ;
  text-decoration: #none;
}
.columnyazi li a:hover {
  background-color: #111111;
}


.columnicerik ul {
  
  margin: 15px;
  padding-left: 40px;
  padding-top:0px;
  overflow: hidden;
  background-color: #333333; 
}
.columnicerik li {
   padding:10px;
   padding-top:10px;
   list-style-type: square;
   color:#409399;
   width: 100%;
}
.columnicerik li a {
  display: block;
  color: white;
  text-align:center;
  padding: 10px 148px ;
  text-decoration: #none;
}
.columnicerik li a:hover {
  background-color: #111111;
}

.row::after {
  content: "";
  clear: both;
  display: table;  
  
  
  
}

.footer {
  
  
  bottom:0;
  position:fixed;
  width: 100%;
  height: 7%;
  padding: 0px;
  background-color:#505050; 
  float: left;
  
}




.footer p{
  padding-left:10px;
  padding-top:9px;
  margin:auto; 
  }

.column {
  
  
  
  float: left;
  width: 10%;
  height: 15%;
  padding: 0px;
  background-color:#333333; 
  
}

.columnvideo iframe {
  float: left;
  border:13px solid #333333;
       margin-left: auto;   
       margin-right: auto; 
  padding-left:100px;
  background-color:#333333; 
  
}

.columnvideo h2 {
  text-align: center;
  border:13px solid #333333;
  padding-right:300px;     
  
  background-color:#333333; 
  
}
.columnicerik {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0px;
  background-color:#333333; 
  padding-bottom:0px;
}



.columnicerik h3 {
  color:#d12121; 
  padding:5px;
  padding-left:65px;
  margin:auto;
  text-align: left;
}
.columnnewsp {
  float: left;
  width: 40%;
  height: 40%;
  padding: 0px;
  background-color:#333333; 
  padding-bottom:0px;
}
.columnnewsp img {
  float: left;
  width: 80%;
  height: 80%;
  padding: 10px;padding-left: 40px;
  padding-top:30px;
  background-color:#333333; 
}
.columnnews {
  float: right;
  width: 60%;
  height: 40%;
  padding: 0px;
  background-color:#333333; 
  padding-bottom:0px;
  padding-top:30px;
}

.columnnews h3{
  color:#d12121; 
  padding:5px;
  padding-left:0px;
  margin:auto;
  text-align: left;
}


.column img{
  
  float: left;
  width: 80%;
  height: 80%;
  padding: 10px;padding-left: 30px;
  background-color:#333333; 
}
.columnyazi {
  
  float: left;
  width: 90%;
  height: 15%;
  padding: 0px;
  background-color:#333333;
}

.columnvideo {
  float: left;
  width: 70%;
  height: 100%;
  padding-left: 10% ;
  background-color:#333333;
}

.columnvideo ul {
  
  margin: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-top:0px;
  overflow: hidden;
  background-color: #333333; 
}
.columnvideo li {
   padding:5px;
   padding-top:5px;
   list-style-type:disc;
   color:#B8B6A7;
   width: 100%;
}







.columnyazi h1 {
  color: white;
  text-align: left;
  padding-left: 25px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px red;
  font-family: "Times New Roman", Times, serif;
  font-style: italic ;
}
